{% load static %}
<!-- footer-start -->
<!-- moveing-text-area-start -->
<section class="moveing-text-area">
    <div class="container">
        <div class="ovic-running">
            <div class="wrap">
                <div class="inner">
                    <p class="item">Free Delivery - Return Over ₹500.00 ( Excluding Homeware )</p>
                    <p class="item">Design Week / 15% Off the website / Code: AYOSALE-2022</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- moveing-text-area-end -->

<footer>
    <div class="fotter-area d-dark-bg">
        <div class="footer__top pt-80 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-4 order-last-md">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Care</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="#">New Customers</a></li>
                                                <li><a href="#">How to use Account</a></li>
                                                <li><a href="#">Placing an Order</a></li>
                                                <li><a href="#">Payment Methods</a></li>
                                                <li><a href="#">Delivery &amp; Dispatch</a></li>
                                                <li><a href="#">Problems with Order</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Customer Service</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="#">Help Center</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                                <li><a href="#">Report Abuse</a></li>
                                                <li><a href="#">Submit a Dispute</a></li>
                                                <li><a href="#">Policies &amp; Rules</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8 order-first-md">
                        <div class="footer__top-left">
                            <div class="row">
                                
                                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                                    <div class="row">
                                        
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            <div class="footer__widget">
                                                <div class="footer__widget-title">
                                                    <h4>My Account</h4>
                                                </div>
                                                <div class="footer__widget-content">
                                                    <div class="footer__link">
                                                        <ul>
                                                            <li><a href="#">Product Support</a></li>
                                                            <li><a href="#">Checkout</a></li>
                                                            <li><a href="#">Shopping Cart</a></li>
                                                            <li><a href="#">Wishlist</a></li>
                                                            <li><a href="#">Terms &amp; Conditions &amp;</a></li>
                                                            <li><a href="#">Redeem Voucher</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="footer__widget">
                                    <div class="footer__widget-title">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__link">
                                            <ul>
                                                <li><a href="">Store Location</a></li>
                                                <li><a href="#">My account</a></li>
                                                <li><a href="#">Order Tracking</a></li>
                                                <li><a href="#">FAQs</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div></div>
                                </div><div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title mb-20">
                                            <h4>About The Store</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <p class="footer-text mb-35">Our mission statement is to provide the absolute best customer experience available in the Electronic industry without exception.</p>
                                            <div class="footer__hotline d-flex align-items-center mb-10">
                                                <div class="icon mr-15">
                                                    <i class="fal fa-headset"></i>
                                                </div>
                                                <div class="text">
                                                    <h4>Got Question? Call us 24/7!</h4>
                                                    <span><a href="tel:100-123-456-7890">(+100) 123 456 7890</a></span>
                                                </div>
                                            </div>
                                            <div class="footer__info">
                                                <ul>
                                                    <li>
                                                        <span>Address:  <a target="_blank" href="https://www.google.com/maps/place/Indira+Nagar,+Lucknow,+Uttar+Pradesh/@26.8883563,80.994874">Indra Nagar,Lucknow,India</a></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="footer__bottom-content pt-55 pb-45">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer__links text-center mb-25">
                                <p>
                                    <a href="#">Online Shopping</a>
                                    <a href="#">Promotions</a>
                                    <a href="#">My Orders</a>
                                    <a href="#">Help</a>
                                    <a href="#">Customer Service</a>
                                    <a href="#">Support</a>
                                    <a href="#">Most Populars</a>
                                    <a href="#">New Arrivals</a>
                                    <a href="#">Special Products </a>
                                    <a href="#">Manufacturers</a>
                                    <br>
                                    <a href="#">Garden Equipments</a>
                                    <a href="#">Powers And Hand Tools </a>
                                    <a href="#">Utensil &amp; Gadget </a>
                                    <a href="#">Printers</a>
                                    <a href="#">Projectors</a>
                                    <a href="#">Scanners</a>
                                    <a href="#">Store</a>
                                    <a href="#">Business</a>
                                </p>
                            </div>
                            <div class="payment-image text-center mb-25">
                                <a href="#"><img src="{% static 'assets/img/payment/payment.png' %}" alt=""></a>
                            </div>
                            <div class="copy-right-area text-center">
                                <p>Copyright © <span>E-commerce.</span> All Rights Reserved. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-end -->